@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

body {
  background-color: #010a13;
  color: #cdbe91;
  font-family: "Fira Code", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #0ac8b9;
  border-bottom: 2px solid #cdbe91;
  padding-bottom: 10px;
}

ul {
  list-style-type: square;
  line-height: 1.8;
}

button {
  background-color: #010a13;
  color: #cdbe91;
  border: 1px solid #cdbe91;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: #cdbe91;
  color: #010a13;
}
